@import "tailwindcss";

/* In your CSS (global or scoped) */
::-webkit-scrollbar {
  display: none;
}

:root {
  --bager-blue: #0069a8;
  --bager-gold: #f8961e;
}

body {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
